<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>blinker1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 39}</string>
			<key>spriteSourceSize</key>
			<string>{41, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {41, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blinker1sm.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 26}</string>
			<key>spriteSourceSize</key>
			<string>{27, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 796}, {27, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blinker2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 39}</string>
			<key>spriteSourceSize</key>
			<string>{41, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 49}, {41, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blinker2sm.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 26}</string>
			<key>spriteSourceSize</key>
			<string>{27, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 833}, {27, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blinkie1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 34}</string>
			<key>spriteSourceSize</key>
			<string>{33, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 866}, {33, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blinkie2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 31}</string>
			<key>spriteSourceSize</key>
			<string>{31, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 908}, {31, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frog1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 31}</string>
			<key>spriteSourceSize</key>
			<string>{31, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 976}, {31, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>frog2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {31, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{31, 23}</string>
			<key>spriteSourceSize</key>
			<string>{31, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 945}, {31, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>head_cat.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>head_cat.png copy</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 25}</string>
			<key>spriteSourceSize</key>
			<string>{27, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 726}, {27, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>head_dog.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 26}</string>
			<key>spriteSourceSize</key>
			<string>{32, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 760}, {32, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 21}</string>
			<key>spriteSourceSize</key>
			<string>{45, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 97}, {45, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 24}</string>
			<key>spriteSourceSize</key>
			<string>{41, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 129}, {41, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 30}</string>
			<key>spriteSourceSize</key>
			<string>{34, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 161}, {34, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 24}</string>
			<key>spriteSourceSize</key>
			<string>{41, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 201}, {41, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 23}</string>
			<key>spriteSourceSize</key>
			<string>{36, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 233}, {36, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
				<string>matty9.png</string>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 22}</string>
			<key>spriteSourceSize</key>
			<string>{38, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 264}, {38, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 25}</string>
			<key>spriteSourceSize</key>
			<string>{26, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 289}, {26, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 25}</string>
			<key>spriteSourceSize</key>
			<string>{41, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 321}, {41, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 22}</string>
			<key>spriteSourceSize</key>
			<string>{38, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 353}, {38, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {41, 24}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{41, 24}</string>
			<key>spriteSourceSize</key>
			<string>{43, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 377}, {41, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 22}</string>
			<key>spriteSourceSize</key>
			<string>{41, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 409}, {41, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 22}</string>
			<key>spriteSourceSize</key>
			<string>{42, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 441}, {42, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 24}</string>
			<key>spriteSourceSize</key>
			<string>{48, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 468}, {48, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 23}</string>
			<key>spriteSourceSize</key>
			<string>{34, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 496}, {34, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 25}</string>
			<key>spriteSourceSize</key>
			<string>{28, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 618}, {28, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 23}</string>
			<key>spriteSourceSize</key>
			<string>{34, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 581}, {34, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 26}</string>
			<key>spriteSourceSize</key>
			<string>{41, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 549}, {41, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matty8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 25}</string>
			<key>spriteSourceSize</key>
			<string>{26, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 524}, {26, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>raspberry1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {49, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 30}</string>
			<key>spriteSourceSize</key>
			<string>{51, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 650}, {49, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>raspberry2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 30}</string>
			<key>spriteSourceSize</key>
			<string>{51, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3, 687}, {51, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{64, 1024}</string>
		<key>name</key>
		<string>Matty</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>froggie</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>froggie</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>